@import "tailwindcss";

:root {
  --background: #0d0d0c;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #0d0d0c;
  }
}

html {
    scroll-behavior: smooth;
    overflow-y: auto;
}

canvas {
  touch-action: pan-y !important;
}